<p>Welcome to the Github Organization Viewer!</p>

This site aims to enable a Github Owner of an Organization to visualize their
repos and teams.

<p>Link to authenticated <a href="/secure/place">secret</a></p>

<p>Click <a href="/secure/orgs">My Organizations</a> to show all of the organizations you
  are associated with.<p>

<p>This will <em>not</em> show personal repositories that have collaborators, as
  they do not follow the same model, and are inherently less complicated.</p>

<hr>

<p>Some technical details:</p>
<ul>
    <li>This site is hosted on Heroku</li>
    <li>The authentication mechanism is via Github's OAuth</li>
    <li>No data from your Github account is collected or persisted beyond the
      browser session</li>
    <li>The only data collected is user statistics via Google Analytics, and is
      pretty anonymous</li>
</ul>
