<div class='alert alert-message'>Logged out of GovWeb</div>

<p>This means that you have ended the session on GovWeb.</p>

<p>If you wish to revoke access to GovWeb, you must do this on your Github
Profile page. Click <a href = "https://github.com/settings/applications">here</a>
for a link to that section. 