<div class="row">
  <div class="span12">
    <p>You are a member of the following organization(s):</p>

    <ul class = "unstyled">
    <% for org in user_orgs.sort_by(&:login) -%>
      <li><a class="btn" href="/secure/graph/<%= org['login'] %>"><%= org['login'] %></a></li>
    <% end -%>
    </ul>

    <p>Click one to display the map for this organization.</p>

    <p><strong>NOTE:</strong> if you are not a member of the Organizations'
    <strong>Owners</strong> group, you will only see the <em>Teams</em> and
    <em>Repos</em> you have access to.</p>
  </div>
</div>
